<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag ("profile.jpg") %>
  </div>
  
  <div id="content">
    <h1>Hi, this is a blog i created whilist learning Rails.</h1>
    <p> A logged in user is able to add posts, edit posts and destroy posts, so we have here a standard CRUD example. </p>
    <p> This is my seccond training aplication, the first one was a clone of pinterest called Mishka picturest, You can find it <a href="http://mishkapicturest.herokuapp.com">here</a>. (Mishka is my american staffordshire terrier - You can see her as a puppy in the picture on the side).</p>
    <p> Next aplications created by me will not be just training aplications, the following ones i will intend to use, we will see how it goes ;)</p>
  </div>
</div>