<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag ("profile.jpg") %>
  </div>
  
  <div id="content">
    <h1><strong> Hello, i'm Michał. Welcome on my page.</strong></h1>
    
    <h2><strong> What's done so far...</strong></h2>
    <p> This is a blog i created whilist learning Rails. It's my seccond training aplication, the first one was a clone of pinterest called "Mishka picturest" (Mishka is my american staffordshire terrier - You can see her as a puppy in the picture on the side), You can find that training app <a href="http://mishkapicturest.herokuapp.com">here</a>. This seccond application meant to be just a standard blog - a logged in user supposed to be able only to add posts, edit posts and also delete them (a standard CRUD example). </p>
    <p> But after tutorial lesson has finished i realized that this is another useless for me application (useful only for a purpose of learning how to code with Rails). </p>
    <p> So i decided to go further with this app and to create a blog with option of adding pictures... I know - it is neither nothing too complex, nor nothing unusual, but for me it was a first independent step - not guided with tutorials, my first idea, which i had to do on my own, basing only on my one previous application... And that is how this app was created.</p>
    
    <div id="profile_image">
    <%= image_tag ("profile2.jpg") %>
  </div>
  
    <h2><strong> What's this about...</strong></h2>
    <p> The main purpose of this site is to present stories of rasing a newborn child - my soon to be born Daughter with a cheerful young Amstaff, that has big and pointy ears (yep, the ears and a tail are still there - it will remain like that, and yep - i also think that she may somehow have some other animal genes - just look at her ears... donkey? horse? rabbit?).</p>
    <p> Stories will be added regulary with a photo included to each one. I would like to write those stories bilingual - in both polish and english language, so it can reach a wider audition. Hope You will find them interesting :)</p>
    
    <h2><strong> Further steps...</strong></h2>
    <p> Well, for me it is just a begining of adventure in a world of creativity, not only as a blogger (to be honest i hope, that my wife will take that over sooner or later), but mainly as a web dev. I have found something that gives me thrill and pushes me to go on, and on, and on with another tasks, lessons, tutorials and applications... Hoepfuly You will we able to see another aplication created by me in some - not too long time ;)</p>
    
  </div>
</div>